build
node_modules

// Managed dependencies. Safe to ignore.
// DO NOT IGNORE: require.js, bootsrap/, and hbs/ as these are not managed by volo yet.

backbone.js
handlebars.js
jquery.js
lodash.js
underscore.js