<header>header</header>
<nav>
  <a href="#">Home</a>
  <a href="#">Contact</a>
  <a href="#">About</a>
</nav>
<div id="main">
  <article>article</article>
  <section>
    <div>One</div>
    <div>Two</div>
    <div>Three</div>
    <div>Four</div>
  </section>
  <aside>
    <div>Awesome</div>
    <div>Sidebar</div>
    <div>Bro!</div>
  </aside>
</div>
<footer>footer</footer>